{% extends 'base2.html' %}
{% block content %}
<div class="container">
   <form id="register" class="mt-5" name = "register"  onsubmit="return validateForm()" method="POST">
      {% csrf_token %}
      <div class="mb-3">
         <h5>Name : {{stu.name}}</h5>
      </div>
      <div class="mb-3">
         <h5>College : {{stu.college}}</h5>   
      </div>
      <div class="mb-3">
         <h5>Roll Number : {{stu.roll}}</h5>   
      </div>
      <div class="mb-3">
         <h5>Branch & Year : {{stu.branchNyear}}</h5>   
      </div>
      <div class="mb-3">
         <h5>Email : {{stu.email}}</h5>   
      </div>
      <div class="mb-3"><label>
         <input type="checkbox" class="form-check-input" {% if stu %} {% if stu.paper %}checked{% endif %} {% endif %} name="paper"> Paper presentation</label>
      </div>
      <div class="mb-3"><label>
         <input type="checkbox" class="form-check-input" {% if stu %} {% if stu.poster %}checked{% endif %} {% endif %} name="poster"> Poster presentation</label>
      </div>
      <div class="mb-3"><label>
         <input type="checkbox" class="form-check-input" {% if stu %} {% if stu.codigo %}checked{% endif %} {% endif %} name="codigo"> Codigo</label>
      </div>
      <div class="mb-3"><label>
         <input type="checkbox" class="form-check-input" {% if stu %} {% if stu.expo %}checked{% endif %} {% endif %} name="expo"> Project expo</label>
      </div>
      <div class="mb-3"><label>
         <input type="checkbox" class="form-check-input" {% if stu %} {% if stu.quiz %}checked{% endif %} {% endif %} name="quiz"> Technical Cart</label>
      </div>
      <div class="mb-3"><label>
         <input type="checkbox" class="form-check-input" {% if stu %} {% if stu.treasure %}checked{% endif %} {% endif %} name="treasure"> Treasure Hunt</label>
      </div>
      <div class="mb-3"><label>
         <input type="checkbox" class="form-check-input" {% if stu %} {% if stu.short %}checked{% endif %} {% endif %} name="short">Montage</label>
      </div>
      <div class="mb-3"><label>
         <input type="checkbox" class="form-check-input" {% if stu %} {% if stu.conn %}checked{% endif %} {% endif %} name="conn">Brainwave Bonanza</label>
      </div>
      <div class="mb-3"><label>
         <input type="checkbox" class="form-check-input" {% if stu %} {% if stu.circuit %}checked{% endif %} {% endif %} name="circuit"> Circuitrix</label>
      </div>
      <div class="mb-3"><label>
         <input type="checkbox" class="form-check-input" {% if stu %} {% if stu.tinker %}checked{% endif %} {% endif %} name="tinker"> Tinker CAD</label>
      </div>
      <div class="mb-3"><label>
        <input type="checkbox" class="form-check-input" {% if stu %} {% if stu.logo %}checked{% endif %} {% endif %} name="logo"> Logo Designing</label>
     </div>
     <div class="mb-3"><label>
        <input type="checkbox" class="form-check-input" {% if stu %} {% if stu.shark %}checked{% endif %} {% endif %} name="shark">Shark Tank</label>
     </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a href="/../dashboard" class="btn btn-primary">Cancel</a>
   </form>
</div>
{% endblock content %}