{% extends 'base2.html' %}

{% block content %}
<br>
<div class="container">
        <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Roll Number</th>
                    <th scope="col">Name</th>
                    <th scope="col">Branch & Year</th>
                    <th scope="col">Paid / Total</th>
                    <th scope="col">Payment</th>
                  </tr>
                </thead>
                <tbody>
                {% for student in stu %}
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td><a href="detail/{{student.student.roll}}">{{student.student.roll}}</a></td>
                    <td>{{student.student.name}}</td>
                    <td>{{student.student.branchNyear}}</td>
                    <td>{{student.paid}} / {{student.total}}</td>
                    <td>{% if student.paid == student.total %} Paid {% else %} <a href="/payment/paid/{{student.student.roll}}" class="btn btn-success btn-sm">Pay</a> {% endif %}</td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock content %}