{% extends 'base2.html' %}

{% block content %}
<br>
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Roll Number</th>
                    <th scope="col">Name</th>
                    <th scope="col">Branch & Year</th>
                    <th scope="col">Amount</th>
                    <th scope="col">On</th>
                    <th scope="col">Verified by</th>
                  </tr>
                </thead>
                <tbody>
                {% for student in stu %}
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td><a href="/dashboard/detail/{{student.student.roll}}">{{student.student.roll}}</a></td>
                    <td>{{student.student.name}}</td>
                    <td>{{student.student.branchNyear}}</td>
                    <td>{{student.paid}}</td>
                    <td>{{student.updated_at}}</td>
                    <td>{{student.verifiedBy}}</td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}